:root {
    --e-a-btn-bg-primary: var(--wp-admin-theme-color, #007cba) !important;
    --e-a-btn-bg-primary-hover: var(
        --wp-admin-theme-color-darker-10,
        #006da3
    ) !important;
    --e-a-btn-bg-primary-active: var(
        --wp-admin-theme-color-darker-20,
        #005885
    ) !important;
    --e-a-btn-bg-accent: var(--e-a-btn-bg-primary) !important;
    --e-a-btn-bg-accent-hover: var(--e-a-btn-bg-primary-hover) !important;
    --e-a-btn-bg-accent-active: var(--e-a-btn-bg-primary-active) !important;
    --e-a-btn-color: white;
}
@media (prefers-color-scheme: light) {
    :root {
        --e-a-bg-hover: #e4e4e7;
    }
}
* {
    font-style: normal !important;
}
@media (prefers-color-scheme: light) {
    #elementor-panel-header-wrapper {
        border-bottom: 1px solid #e4e4e7;
    }
    .elementor-panel #elementor-panel-header {
        background: #fff;
        color: #27272a;
    }
}
.elementor-panel #elementor-panel-header-title img {
    width: 74px;
}
@media (prefers-color-scheme: light) {
    .elementor-panel #elementor-panel-header-title img {
        filter: invert(1);
    }
}
.elementor-panel .elementor-header-button .elementor-icon {
    font-size: 16px !important;
}
.elementor-panel .elementor-header-button .elementor-icon:focus,
.elementor-panel .elementor-header-button .elementor-icon:hover {
    color: unset;
}
#elementor-panel-elements-search-input {
    border-color: #e4e4e7 !important;
    border-radius: 4px;
}
.elementor-panel .elementor-responsive-panel {
    grid-template-columns: repeat(2, 1fr);
}
.elementor-panel .elementor-element {
    border-radius: 4px;
}
@media (prefers-color-scheme: light) {
    .elementor-panel .elementor-element {
        background: #fafafa;
        border-color: #e4e4e7;
    }
    .elementor-panel .elementor-element:hover {
        background: #fff;
        border-color: #d4d4d8;
    }
}
.elementor-panel .elementor-panel-alert.elementor-panel-alert-info {
    background: rgba(0, 124, 186, 0.1);
    border-color: #007cba;
}
#elementor-panel-notice-wrapper .elementor-panel-notice a {
    margin-top: 8px;
    font-weight: 400;
    border-bottom: unset;
    background: var(--e-a-btn-bg-primary);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 10px;
}
#elementor-panel-notice-wrapper .elementor-panel-notice a:hover {
    background: var(--e-a-btn-bg-primary-hover);
}
#elementor-panel-notice-wrapper .elementor-panel-notice a:active {
    background: var(--e-a-btn-bg-primary-active);
}
.elementor-panel .elementor-panel-alert {
    font-weight: 400;
}
@media (prefers-color-scheme: light) {
    .elementor-panel #elementor-panel-footer {
        background: #fff;
    }
    .elementor-panel .elementor-panel-footer-tool {
        color: #27272a;
    }
    .elementor-panel .elementor-panel-footer-tool:not(.e-open):focus,
    .elementor-panel .elementor-panel-footer-tool:not(.e-open):hover {
        color: #27272a;
    }
}
.elementor-panel #elementor-panel-saver-button-publish {
    border-color: rgba(255, 255, 255, 0.2) !important;
}
#elementor-toast {
    background: #27272a;
}
#elementor-toast .dialog-button {
    background: #3f3f46;
}
@media (prefers-color-scheme: light) {
    #elementor-responsive-bar {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    }
    #e-responsive-bar {
        background-color: #fff;
    }
    #e-responsive-bar-scale,
    #e-responsive-bar-switcher,
    #e-responsive-bar__center,
    #e-responsive-bar__end {
        background: rgba(0, 0, 0, 0);
    }
}
.elementor-panel #elementor-panel-saver-button-publish.elementor-disabled,
.elementor-panel #elementor-panel-saver-button-save-options.elementor-disabled {
    background: var(--e-a-btn-bg-primary);
    color: #fff;
    opacity: 0.25;
}
@media (prefers-color-scheme: light) {
    .elementor-panel .elementor-panel-footer-sub-menu-wrapper {
        background: #fff;
    }
    .elementor-panel .elementor-panel-footer-sub-menu-item {
        color: #27272a;
    }
    .elementor-panel .elementor-panel-footer-sub-menu-item:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
.e-input-style,
input,
select,
textarea {
    background: var(--e-a-bg-default);
}
