:root {
    --e-a-btn-bg-primary: var(--wp-admin-theme-color, #007cba) !important;
    --e-a-btn-bg-primary-hover: var(
        --wp-admin-theme-color-darker-10,
        #006da3
    ) !important;
    --e-a-btn-bg-primary-active: var(
        --wp-admin-theme-color-darker-20,
        #005885
    ) !important;
    --e-a-btn-bg-accent: var(--e-a-btn-bg-primary) !important;
    --e-a-btn-bg-accent-hover: var(--e-a-btn-bg-primary-hover) !important;
    --e-a-btn-bg-accent-active: var(--e-a-btn-bg-primary-active) !important;
    --e-a-btn-color: white;
}
