:root {
    --e-notice-context-color: var(--e-context-info-color) !important;
}
:root {
    --e-context-primary-color: var(--e-context-info-color) !important;
    --e-context-primary-color-dark: var(--e-context-info-color-dark) !important;
    --e-context-primary-tint-4: var(--e-context-info-tint-4) !important;
    --e-context-primary-tint-1: var(--e-context-info-tint-1) !important;

    --e-context-cta-color: var(--e-context-info-color) !important;
    --e-context-cta-color-dark: var(--e-context-info-color-dark) !important;
    --e-context-cta-tint-4: var(--e-context-info-tint-4) !important;
    --e-context-cta-tint-1: var(--e-context-info-tint-1) !important;
}
:root {
    --e-a-color-accent: var(--e-a-color-info) !important;
    --e-a-color-accent-promotion: var(--e-a-color-info) !important;
}
:root {
    --e-a-color-primary: hsl(from var(--e-a-color-info) h s calc(l + 32)) !important;
    --e-a-color-primary-bold: var(--e-a-color-info) !important;

    --e-a-bg-primary: var(--e-a-bg-info) !important;

    --e-a-btn-bg-primary: hsl(from var(--e-a-btn-bg-info) h s calc(l + 32)) !important;
    --e-a-btn-bg-primary-hover: hsl(from var(--e-a-btn-bg-info-hover) h s calc(l + 32)) !important;
    --e-a-btn-bg-primary-active: hsl(from var(--e-a-btn-bg-info-active) h s calc(l + 32)) !important;

    --e-a-btn-bg-accent: var(--e-a-btn-bg-info) !important;
    --e-a-btn-bg-accent-hover: var(--e-a-btn-bg-info-hover) !important;
    --e-a-btn-bg-accent-active: var(--e-a-btn-bg-info-active) !important;
}

#adminmenu #toplevel_page_elementor a[href="admin.php?page=go_elementor_pro"] {
    background-color: var(--e-context-info-color) !important;
}
#adminmenu #toplevel_page_elementor a[href="admin.php?page=go_elementor_pro"]:focus,
#adminmenu #toplevel_page_elementor a[href="admin.php?page=go_elementor_pro"]:hover {
    background-color: var(--e-context-info-color-dark) !important;
}

/* wp-admin/plugins.php */
.elementor-plugins-gopro {
    color: var(--e-context-info-color) !important;
}
.elementor-plugins-gopro:focus, .elementor-plugins-gopro:hover {
    color: var(--e-context-info-color-dark) !important;
}
